<div class="row">
  <!--   <div class="row">
        <div class="col-4" *ngFor="let col of collegue">
        </div>    
    </div>-->
    
    <ngb-carousel>
      <ng-template *ngFor="let col of collegue" ngbSlide>
          <img src="{{col._urlImage}}" alt="{{col.pseudo}}">
        <div class="carousel-caption">
          <h3>{{col._nom}}</h3>
          <h6>{{col._score}}</h6>
          <button class="btn btn-success" (click)="jaime()">J'aime</button>
          <button class="btn btn-danger" (click)="jeDeteste()">Je déteste</button>
        </div>
      </ng-template>
    </ngb-carousel>
 <!--   <div class="carousel-inner">
        <div style="width:100%;height:100%;" class="carousel-item active">
            <img class="card-img-top" [src]="col._urlImage" alt="{{col.pseudo}}">
          </div>
      <div class="carousel-item">
        <h3>{{col._nom}}</h3>
        <h6>{{col._score}}</h6>
        <button class="btn btn-success" (click)="jaime()">J'aime</button>
        <button class="btn btn-danger" (click)="jeDeteste()">Je déteste</button>
      </div>
    </div>-->
  </div>