<div class="input-group">
  <span for="limite" class="input-group-addon">Limiter à: </span>
  <input type="text" class="form-control"  (keyup)="onLimit($event)" placeholder="Tous">
</div><br>
  <div class="input-group">
  <span for="filtre" class="input-group-addon">Filtre par pseudo: </span>
  <input type="text" class="form-control" (keyup)="onFilter($event)" placeholder="Aucun">
</div><br>
  <div class="row">
        <div class="card" *ngFor="let col of collegue | slice:0:limite | filter:filtre">
            <div style="width:100%;height:100%;">
              <img class="card-img-top" [src]="col._urlImage" alt="{{col.pseudo}}">
            </div>
            <div class="card-body">
              <h4 class="card-title">{{col._nom | uppercase}}</h4>
              <h4 class="card-title" innerHTML="{{col._score|score}}"></h4>
              <button class="btn btn-outline-success" (click)="jaime(col)">J'aime</button>
              <button class="btn btn-outline-danger" (click)="jeDeteste(col)">Je déteste</button>
            </div>
        </div> 
  </div>