    <div class="input-group">
        <span for="limite" class="input-group-addon">Limiter à: </span>
        <input type="text" class="form-control"  (keyup)="onLimit($event)" placeholder="Tous">
    </div><br>
    <div class="input-group">
        <span for="filtre" class="input-group-addon">Filtre par pseudo: </span>
        <input type="text" class="form-control" (keyup)="onFilter($event)" placeholder="Aucun">
    </div><br>    
    <table class="table">
      <thead>
          <tr>
            <th scope="col">Photo</th>
            <th scope="col">Nom</th>
            <th scope="col">score</th>
            <th scope="col">vote</th>
          </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let col of collegue | slice:0:limite | filter:filtre">
        <td>
          <img class="card-img-top" [src]="col._urlImage" alt="{{col.pseudo}}">
        </td>
        <td class="">
          <h3>{{col._nom}}</h3>
        </td>
        <td>
          <h3 innerHTML = "{{col._score|score}}"></h3>
        </td>
        <td>
          
          <button class="btn btn-outline-success" (click)="jaime(col)">J'aime</button>
          <button class="btn btn-outline-danger" (click)="jeDeteste(col)">Je déteste</button>
        </td>
        </tr>
      </tbody>
    </table>
  